<div class="sidebar">
	<div class="head"><a href="">  
		{wc:if $member['img']==null}
		<img src="{G_TEMPLATES_STYLE}/images/prmimg.jpg" width="160" height="160" />
		{wc:else}
		<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:$member['img']}" width="160" height="160" border="0"/>
		{wc:if:end}
	</a></div>  
	<div id="pageLeft_divNone">&nbsp;</div>
	<div id="divMsgBox" class="Pop-news">
		<div class="Pop-Con">
			<div class="arrow arrow_left"><em>◆</em><span>◆</span></div>
			<div class="Close"><a href="javascript:void(0);"></a></div>
			<div class="Comment_form"><textarea id="txtPrivateMsg"></textarea></div>
		</div>
	</div>
	<!--TA的好友-->
	<!-- <h4 class="sid-tit Fb gray01">TA的好友<span class="gray03">(1)</span></h4>
	<div class="ta-friend clearfix">
		<ul id="ulFriends" class="clearfix">
			<li><a  type="showCard" href="http://u.1yyg.com/1000878049" class="blue"><img width="50" height="50" border="0" alt="云云众生" src="./哈哈啊_个人主页_1元云购_files/20130502142735989.jpg"><i>云云众生</i></a></li></ul>
		<p class="more"><a href="http://u.1yyg.com/1000293094/UserFriends" class="gray01">更多<s></s></a></p></div>
	<div class="sid-line mab10"></div> -->
	<!--最近访客-->
	<!-- <h4 id="h4Guest" class="sid-tit Fb gray01">最近访客</h4>
	<dl class="clearfix sid-guest"><dt class="guest-pic"><a type="showCard" href="http://u.1yyg.com/1000967411"><img width="50" height="50" border="0" alt="财神到" src="./哈哈啊_个人主页_1元云购_files/20130712205304593.jpg"></a></dt><dd class="guest-con"><p class="sid-mane"><a uweb="1000967411" type="showCard" href="http://u.1yyg.com/1000967411" class="blue" rel="nofollow">财神到</a></p><p class="sid-address gray02">江苏省南京市</p><p class="sid-time gray02">05月25日 22:52</p></dd></dl>
	<dl class="clearfix sid-guest"><dt class="guest-pic"><a type="showCard" href="http://u.1yyg.com/1000858979"><img width="50" height="50" border="0" alt="恶魔未至" src="./哈哈啊_个人主页_1元云购_files/20130514092456237.jpg"></a></dt><dd class="guest-con"><p class="sid-mane"><a uweb="1000858979" type="showCard" href="http://u.1yyg.com/1000858979" class="blue" rel="nofollow">恶魔未至</a></p><p class="sid-address gray02">湖北省武汉市</p><p class="sid-time gray02">05月09日 10:30</p></dd></dl>
 -->
</div>
